openapi: 3.0.2
info:
  title: AIMS Service
  version: '1.0'
  description: 'Access and Identity Management Service'
  contact:
    email: support@alertlogic.com
    name: Alert Logic Support
  x-alertlogic-iws-service:
    type: public
servers:
  - url: 'https://api.global-services.global.alertlogic.com'
    description: production
    x-alertlogic-session-endpoint: true
  - url: 'https://api.global-integration.product.dev.alertlogic.com'
    description: integration
    x-alertlogic-session-endpoint: true
paths:
  '/aims/v1/{account_id}/account':
    parameters:
      - $ref: '#/components/parameters/AccountId'
    get:
      summary: Get Account Details
      operationId: get_account_details
      description: Get account details
      tags:
        - AIMS Account Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/account"
        - lang: Python
          source: |
            import almdrlib
            from almdrlib.session import Session

            session = Session(access_key_id="mykey", secret_key="mysecret")
            aims = session.client("aims")
            res = aims.get_account_details(account_id = "111111111")
            print(res.json())
        - lang: Shell
          label: alcli
          source: |
            $alcli aims get_account_details --account_id 11111
    post:
      summary: Update Account Details
      operationId: update_account_details
      description: 'To update an account, the client must have permission to update the specified account (`aims:<account_id>:update:account`). The `mfa_required` field may be updated by any client with this permission.'
      tags:
        - AIMS Account Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                'Update Account Response':
                  value:
                    id: '12345678'
                    name: Company Name
                    active: true
                    version: 2
                    accessible_locations:
                      - insight-us-virginia
                    default_location: insight-us-virginia
                    mfa_required: true
                    created:
                      at: 1430184599
                      by: System
                    modified:
                      at: 1430189634
                      by: System
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_account_name
                      - account_inactive
                      - invalid_json
                      - invalid_property
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mfa_required:
                  type: boolean
                  description: Determines whether multi-factor authentication (MFA) is required for users of the account. Defaults to `false`.
            examples:
              'Update Account Details Response':
                value:
                  name: Company Name
                  active: true
                  accessible_locations:
                    - insight-us-virginia
                  default_location: insight-us-virginia
                  mfa_required: true
        description: 'To update an account, the client must have permission to update the specified account (aims:<account_id>:update:account). The `mfa_required` field may be updated by any client with this permission.'
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X POST -d '{"mfa_required": true}' "https://api.global-services.global.alertlogic.co/aims/v1/12345678/account"
  '/aims/v1/{account_id}/accounts/{relationship}/topology':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - in: path
        schema:
          type: string
          enum:
            - managed
            - managing
        name: relationship
        required: true
        description: 'Account relationship. Note that this does not support `bills_to` relationship yet.'
    get:
      summary: Get Account Relationship Topology
      operationId: get_account_relationship_topology
      description:  |-
        This endpoint render's an accounts related accounts topologically by adding a `:relationship`
        field to the account object, which contains an array of accounts that are directly related to it.
        In turn, each of those accounts is decorated with a `:relationship` field that contains the
        (similarly decorated) accounts directly related to it. This continues recursively till a "leaf"
        account (an account with no direct relationships) is decorated with `{"<relationship>": []}`.
        Clients may use this endpoint to understand how an accounts related accounts are related to
        each other, e.g., understanding "direct descendants," "direct ancestors," "grand ancestors," etc.
        
        Note that the `managing` account relationship is the inverse of the `managed` relationship. That
        is, looking up the `managing` relationship returns the list of accounts that have a `managed`
        relationship to the given `account_id`. This list shows **only** accounts which the calling client
        is authorized to view, so, for example, looking up `managing` accounts for the client's own
        account will result in an empty topology regardless of whether accounts not visible to
        the client have a `managed` relationship to the given `account_id`.
      tags:
        - AIMS Account Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  topology:
                    type: object
                    items:
                      $ref: '#/components/schemas/Topology'
              examples:
                'Managed relationship topology':
                  value:
                    topology:
                      - id: '12876543'
                        managed:
                          - id: '12876544'
                            managed: []
                'Managed relationship topology (fields=active,id,name)':
                  value:
                    topology:
                      - active: true
                        id: '12876543'
                        managed:
                          - active: true
                            id: '12876544'
                            managed: []
                            name: 'A Child Company Name'
                        name: 'Another Company Name'
                'Managed relationship topology (all fields)':
                  value:
                    topology:
                      - accessible_locations: ["insight-us-virginia"]
                        active: true
                        created:
                          - at: 1430184599
                          - by: 'System'
                        default_location: 'insight-us-virginia'
                        id: '12876543'
                        managed:
                          - active: true
                            created:
                              - at: 1430184599
                              - by: 'System'
                            default_location: 'insight-us-virginia'
                            id: '12876544'
                            managed: []
                            mfa_required: false
                            modified:
                              - at: 1430184599
                              - by: 'System'
                            name: 'A Child Company Name'
                            version: 1
                        mfa_required: false,
                        modified:
                          - at: 1430184599
                          - by: 'System'
                        name: 'Another Company Name'
                        version: 1
                'Managing relationship topology (fields=active,id,name)':
                  value:
                    topology:
                      - active: true
                        id: '12876543'
                        managing:
                          - active: true
                            id: '2'
                            managing: []
                            name: 'Alert Logic, Inc.'
                        name: 'Another Company Name'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_accessible_locations
                      - invalid_relationship
                      - invalid_option
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '410':
          $ref: '#/components/responses/Gone'
      parameters:
        - $ref: '#/components/parameters/AccessibleLocations'
        - $ref: '#/components/parameters/Active'
        - $ref: '#/components/parameters/Fields'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample (managed relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/managed/topology"
        - lang: Shell
          label: Request Sample (managed relationship with name, id fields)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/managed/topology?fields=name,id"
        - lang: Shell
          label: Request Sample (managing relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/managing/topology"
        - lang: Shell
          label: Request Sample (managed relationship filtered by accessible_location)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/managed/topology?active=true&accessible_locations=insight-us-virginia"
  '/aims/v1/{account_id}/accounts/{relationship}/{related_account_id}':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/Relationship'
      - $ref: '#/components/parameters/RelatedAccountId'
    get:
      summary: Get Account Relationship
      operationId: get_account_relationship
      description: |-
        Check if the specified relationship between two accounts exists.
        Responds with `204 No Content` if the specified relationship exists between the two accounts. Responds with `404 Not Found`
        if the relationship between the two accounts does not exist.

        Note that both the given `account_id` and `related_account_id` must be visible to the client. If
        either is not, a `403 Forbidden` is returned to the client.
      tags:
        - AIMS Account Resources
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample (managed relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/managed/87654321"
        - lang: Shell
          label: Request Sample (managing relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/managing/87654321"\
        - lang: Shell
          label: Request Sample (bills_to relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/bills_to/87654321"
  '/aims/v1/accounts/name/{name}':
    parameters:
      - $ref: '#/components/parameters/AccountName'
    get:
      summary: Get Details of Accounts By Name
      operationId: get_accounts_details_by_name
      description: |-
        Returns a list of accounts having the given `name` that the client has permission to access.

        Note that if an empty list is returned, it may mean that an account with the name exists, but the client does not have permission to access it.
      tags:
        - AIMS Account Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
              examples:
                'Get Accounts by Name response':
                  value:
                    accounts:
                      - id: '12341234'
                        name: Test Account
                        active: true
                        version: 1
                        accessible_locations:
                          - insight-us-virginia
                        default_location: insight-us-virginia
                        modified:
                          by: System
                          at: 1430184599
                        created:
                          by: System
                          at: 1430184599
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/accounts/name/Test%20Account"
      security:
        - x-aims-auth-token: []
  '/aims/v1/{account_id}/account_ids/{relationship}':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/Relationship'
    get:
      summary: List Account IDs by Relationship
      operationId: list_account_ids_by_relationship
      description: |-
        Note that the `managing` account relationship is the inverse of the `managed` relationship. That
        is, looking up account IDs by the `managing` relationship denotes the list of account IDs that
        have a `managed` relationship to the given `account_id`. This list shows **only** account IDs which
        the calling client is authorized to view, so, for example, looking up `managing` account IDs for
        the client's own account will return an empty list regardless of whether accounts not visible to
        the client have a `managed` relationship to the given `account_id`.
      tags:
        - AIMS Account Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_ids:
                    type: array
                    items:
                      type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_accessible_locations
                      - invalid_relationship
                      - invalid_option
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      parameters:
        - $ref: '#/components/parameters/Active'
        - $ref: '#/components/parameters/AccessibleLocations'
        - $ref: '#/components/parameters/MFARequired'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample (managed relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/account_ids/managed?active=true"
        - lang: Shell
          label: Request Sample (managing relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/account_ids/managing?active=true"
        - lang: Shell
          label: Request Sample (bills_to relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/account_ids/bills_to?active=true"
        - lang: Shell
          label: Request Sample (managed relationship filtered by accessible_location)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/account_ids/managed?active=true&accessible_locations=insight-us-virginia"
  '/aims/v1/{account_id}/accounts/{relationship}':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/Relationship'
    get:
      summary: List Accounts by Relationship
      operationId: list_accounts_by_relationship
      description: |-
        Note that the `managing` account relationship is the inverse of the `managed` relationship. That
        is, looking up the `managing` relationship returns the list of accounts that have a `managed`
        relationship to the given `account_id`. This list shows **only** accounts which the calling client
        is authorized to view, so, for example, looking up `managing` accounts for the client's own
        account will return an empty list regardless of whether accounts not visible to the client have
        a `managed` relationship to the given `account_id`.
      tags:
        - AIMS Account Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
              examples:
                'List Relationship Result':
                  value:
                    accounts:
                      - id: '12876543'
                        name: Another Company Name
                        active: true
                        version: 1
                        accessible_locations:
                          - insight-us-virginia
                        default_location: insight-us-virginia
                        created:
                          at: 1430184599
                          by: System
                        modified:
                          at: 1430184599
                          by: System
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_accessible_locations
                      - invalid_relationship
                      - invalid_option
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      parameters:
        - $ref: '#/components/parameters/Active'
        - $ref: '#/components/parameters/AccessibleLocations'
        - $ref: '#/components/parameters/MFARequired'
      x-codeSamples:
        - lang: Shell
          label: Request Sample (managed relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/managed?active=true"
        - lang: Shell
          label: Request Sample (managing relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/managing?active=true"
        - lang: Shell
          label: Request Sample (bills_to relationship)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/bills_to?active=true"
        - lang: Shell
          label: Request Sample (managed relationship filtered by accessible_location)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/accounts/managed?active=true&accessible_locations=insight-us-virginia"
  '/aims/v1/change_password':
    post:
      summary: "Change a User's Password"
      operationId: change_password
      description: |-
        The new password must conform to the following standards:

        - Cannot be identical to current or previous passwords (up to 4 previous passwords checked)
        - Length of at least 12 characters
        - Contain three of four possible character types:
          - Upper case characters
          - Lower case characters
          - Numbers
          - Special characters (``!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~``)
        - Passwords can be specified as UTF-8. Characters in languages that do not have upper or lower case variants qualify as either upper or lower case.
      tags:
        - AIMS Authentication and Authorization Resources
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - weak_password
                      - password_reuse_prevented
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: ''
              properties:
                email:
                  type: string
                  description: Email address
                current_password:
                  type: string
                  description: Current password
                new_password:
                  type: string
                  description: New password
              required:
                - email
                - current_password
                - new_password
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X POST -d '{"email": "admin@company.com", "current_password": "Aa8^6;C28e748C", "new_password": "Fraudulent$Foes"}' "https://api.global-services.global.alertlogic.com/aims/v1/change_password"
  '/aims/v1/token_info':
    get:
      summary: Get Authentication Token Information
      operationId: get_token_info
      description: 'Obtain Authentication Token Information (Account, User, Roles, etc.)'
      tags:
        - AIMS Authentication and Authorization Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
                  entity_id:
                    type: string
                  entity_type:
                    type: string
                  requester_id:
                    type: string
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
                  token_expiration:
                    type: number
                  user:
                    $ref: '#/components/schemas/User'
              examples:
                'Token Information Response':
                  value:
                    account:
                      id: '12345678'
                      name: Company Name
                      active: true
                      version: 1
                      accessible_locations:
                        - insight-us-virginia
                      default_location: insight-us-virginia
                      created:
                        at: 1430184599
                        by: System
                      modified:
                        at: 1430184599
                        by: System
                    entity_id: 715A4EC0-9833-4D6E-9C03-A537E3F98D23
                    entity_type: user
                    requester_id: '12345678:user:715A4EC0-9833-4D6E-9C03-A537E3F98D23'
                    roles:
                      - id: F578CCE5-9574-4489-BF05-A04075838DE3
                        account_id: '12345678'
                        name: Read Only
                        permissions:
                          '*:own:list:*': allowed
                          '*:own:get:*': allowed
                        legacy_permissions: []
                        version: 1
                        created:
                          at: 1430184599
                          by: System
                        modified:
                          at: 1430184599
                          by: System
                    token_expiration: 1524779722
                    user:
                      id: 715A4EC0-9833-4D6E-9C03-A537E3F98D23
                      account_id: '12345678'
                      name: Bob Dobalina
                      username: admin@company.com
                      email: admin@company.com
                      active: true
                      locked: false
                      version: 1
                      linked_users:
                        - location: defender-us-denver
                          user_id: 102
                      created:
                        at: 1430185015
                        by: System
                      modified:
                        at: 1430185015
                        by: System
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/token_info"
  '/aims/v1/reset_password':
    post:
      summary: Initiate Password Reset
      operationId: initiate_password_reset
      description: Initiate the password reset process for a user
      tags:
        - AIMS Authentication and Authorization Resources
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email address
                return_to:
                  type: string
                  description: "A URL to return to after successfully resetting the user's password"
              required:
                - email
                - return_to
            examples:
              'Inititiate Password Reset':
                value:
                  email: admin@company.com
                  return_to: 'https://console.alertlogic.net'
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X POST -d '{"email": "admin@company.com", "return_to": "https://console.alertlogic.net"}' "https://api.global-services.global.alertlogic.com/aims/v1/reset_password"
  '/aims/v1/reset_password/{token}':
    parameters:
      - $ref: '#/components/parameters/PasswordResetToken'
    put:
      summary: Reset Password
      operationId: reset_password
      description: |-
        Reset a user's password using a token

        The token is emailed to a user's `email` when `POST /aims/v1/reset_password` is called successfully.
        
        The new password must conform to the following standards:
        - Cannot be identical to current or previous passwords (up to 4 previous passwords checked)
        - Length of at least 12 characters
        - Contain three of four possible character types:
          - Upper case characters
          - Lower case characters
          - Numbers
          - Special characters (!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~)

        Passwords can be specified as UTF-8. Characters in languages that do not have upper or lower case variants qualify as either upper or lower case.
      tags:
        - AIMS Authentication and Authorization Resources
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - weak_password
                      - password_reuse_prevented
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: New password
              required:
                - password
            examples:
              'Password Reset Payload':
                value:
                  password: Aa8^6;C28e748C
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X PUT -d '{"password": "Aa8^6;C28e748C"}' "https://api.global-services.global.alertlogic.com/aims/v1/reset_password/69EtspCz3c4"
  '/aims/v1/{account_id}/roles':
    parameters:
      - $ref: '#/components/parameters/AccountId'
    post:
      summary: Create Role
      operationId: create_role
      description: Create a role
      tags:
        - AIMS Role Resources
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_json
                      - invalid_permissions
                      - missing_required_property
                      - invalid_property
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Role name'
                permissions:
                  type: object
                  description: 'Role permissions'
              required:
                - name
                - permissions
            examples:
              'Create Role Request':
                value:
                  name: Super Mega Power User
                  permissions:
                    '*:own:*:*': allowed
                    'aims:own:grant:*': allowed
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X POST -d '{"name": "Super Mega Power User", "permissions": {"*:own:*:*": "allowed", "aims:own:grant:*":"allowed"}}' "https://api.global-services.global.alertlogic.com/aims/v1/12345678/roles"
    get:
      summary: List Roles
      operationId: list_roles
      description: |
        List roles for an account. Global roles are included in the list.
      tags:
        - AIMS Role Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/12345678/roles"
  '/aims/v1/{account_id}/roles/{role_id}':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/RoleId'
    delete:
      summary: Delete Role
      operationId: delete_role
      description: 'Role deletion is permanent. Due to caching and the distributed nature of the data store, role deletion is also asynchronous; as a result, clients may be able to retrieve the deleted role (and grants of it to users) for a brief period after deleting it.'
      tags:
        - AIMS Role Resources
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X DELETE "https://api.global-services.global.alertlogic.com/aims/v1/12345678/roles/C7C5BE57-F199-4F14-BCB5-43E31CA02842"
    get:
      summary: Get Role Details
      operationId: get_role_details
      description: Get role.
      tags:
        - AIMS Role Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
              examples:
                'Get Role Response':
                  value:
                    id: 2A33175D-86EF-44B5-AA39-C9549F6306DF
                    account_id: '12345678'
                    name: Power User
                    permissions:
                      'aims:own:revoke:*': denied
                      'aims:own:grant:*': denied
                      'aims:own:delete:*': denied
                      'aims:own:update:*': denied
                      'aims:own:create:*': denied
                      '*:own:*:*': allowed
                    legacy_permissions: []
                    version: 1
                    created:
                      at: 1430184599
                      by: System
                    modified:
                      at: 1430184599
                      by: System
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/12345678/roles/C7C5BE57-F199-4F14-BCB5-43E31CA02842"
    post:
      summary: Update Role Details
      operationId: update_role_details
      description: "The role's name, permissions, or both may be updated."
      tags:
        - AIMS Role Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
              examples:
                'Update Role Details Response':
                  value:
                    id: 2A33175D-86EF-44B5-AA39-C9549F6306DF
                    account_id: '12345678'
                    name: Mega Power User
                    permissions:
                      'aims:own:grant:*': allowed
                      '*:own:*:*': allowed
                    legacy_permissions: []
                    version: 2
                    created:
                      at: 1430184599
                      by: System
                    modified:
                      at: 1430185936
                      by: System
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_json
                      - invalid_property
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Role Name
                permissions:
                  type: object
                  description: Role Permissions
            examples:
              'Update Role Details Request':
                value:
                  name: Mega Power User
                  permissions:
                    '*:own:*:*': allowed
                    'aims:own:grant:*': allowed
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X POST -d '{"name": "Mega Power User", "permissions": {"*:own:*:*": "allowed", "aims:own:grant:*":"allowed"}}' "https://api.global-services.global.alertlogic.com/aims/v1/12345678/roles/2A33175D-86EF-44B5-AA39-C9549F6306DF"
  '/aims/v1/roles/{role_id}':
    parameters:
      - $ref: '#/components/parameters/RoleId'
    get:
      summary: Get Global Role Details
      operationId: get_global_role_details
      description: |
        Get global role, a role that is shared among accounts.
      tags:
        - AIMS Role Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
              examples:
                'Get Global Role Details Response':
                  value:
                    id: 2A33175D-86EF-44B5-AA39-C9549F6306DF
                    account_id: '*'
                    name: Power User
                    permissions:
                      'aims:own:revoke:*': denied
                      'aims:own:grant:*': denied
                      'aims:own:delete:*': denied
                      'aims:own:update:*': denied
                      'aims:own:create:*': denied
                      '*:own:*:*': allowed
                    legacy_permissions: []
                    version: 1
                    global: true
                    created:
                      at: 1430184599
                      by: System
                    modified:
                      at: 1430184599
                      by: System
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/roles/2A33175D-86EF-44B5-AA39-C9549F6306DF"
  '/aims/v1/roles':
    get:
      summary: List Global Roles
      operationId: list_global_roles
      description: |
        List global roles, roles that are shared among all accounts.
      tags:
        - AIMS Role Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
              examples:
                'List Global Roles Response':
                  value:
                    roles:
                      - id: F578CCE5-9574-4489-BF05-A04075838DE3
                        account_id: '*'
                        name: Read Only
                        permissions:
                          '*:own:list:*': allowed
                          '*:own:get:*': allowed
                        legacy_permissions: []
                        version: 1
                        global: true
                        created:
                          at: 1430184599
                          by: System
                        modified:
                          at: 1430184599
                          by: System
                      - id: 2A33175D-86EF-44B5-AA39-C9549F6306DF
                        account_id: '*'
                        name: Power User
                        permissions:
                          'aims:own:revoke:*': denied
                          'aims:own:grant:*': denied
                          'aims:own:delete:*': denied
                          'aims:own:update:*': denied
                          'aims:own:create:*': denied
                          '*:own:*:*': allowed
                        legacy_permissions: []
                        version: 1
                        global: true
                        created:
                          at: 1430184599
                          by: System
                        modified:
                          at: 1430184599
                          by: System
                      - id: 4389AB00-BBCC-4EB1-83E9-7A906A452BF0
                        account_id: '*'
                        name: Administrator
                        permissions:
                          '*:own:*:*': allowed
                        legacy_permissions: []
                        version: 1
                        global: true
                        created:
                          at: 1430184599
                          by: System
                        modified:
                          at: 1430184599
                          by: System
        '401':
          $ref: '#/components/responses/Unauthorized'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/roles"
  '/aims/v1/user/mfa/enroll':
    post:
      summary: Enroll User Multi-Factor Authentication Device
      operationId: mfa_enroll
      description: |-
        Enroll a user in multi-factor authentication. Requires either username/password or a valid `x-aims-session-token` header to enroll. The user must input an [RFC 6238](https://tools.ietf.org/html/rfc6238) compatible Time-based One-Time Password secret as an otpauth:// format URI (See [Google Authenticator's Key URI Format Docs](https://github.com/google/google-authenticator/wiki/Key-Uri-Format) for complete details). The following parameters must be set in the mfa_uri:

        * `TYPE` must be `totp`

        * `LABEL` must be the issuer "Alert Logic", colon ":" and user's email, e.g. `Alert%20Logic:admin@company.com`

        * `secret` must be an arbitrary value between 16-20 bytes, in non-padded Base32 encoding, e.g., the ASCII string `"1s tHiS s3kr3t S4F3?"` is `GFZSA5CINFJSA4ZTNNZDG5BAKM2EMMZ7` in Base32

        * `issuer` must be "Alert Logic", i.e. `issuer=Alert%20Logic`

        * `algorithm` must be `SHA1`

        * `digits` must be an integer greater than or equal to 6; the default (if missing) is 6

        * `period` must be an integer between 30-60 (seconds); the default (if missing) is 30

        Example `mfa_uri: otpauth://totp/Alert%20Logic:admin@company.com?secret=GFZSA5CINFJSA4ZTNNZDG5BAKM2EMMZ7&issuer=Alert%20Logic&algorithm=SHA1`

        The request must also include `mfa_codes`, an array of 2 or more MFA codes generated by the MFA device. These codes must be valid prior to successful device enrollment.

        A user can only enroll an MFA device if they have not already enrolled one. If the user has already enrolled an MFA device, that device must be removed prior to enrolling a different one.

        Once a user enrolls an MFA device, the user is required to provide a valid `mfa_code` during username/password authentication.
      tags:
        - AIMS User MFA Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                'Enroll User MFA Device Response':
                  value:
                    id: 715A4EC0-9833-4D6E-9C03-A537E3F98D23
                    account_id: '12345678'
                    name: Bob Dobalina
                    username: admin@company.com
                    email: admin@company.com
                    active: true
                    locked: false
                    mfa_enabled: true
                    version: 1
                    linked_users: []
                    created:
                      at: 1430185015
                      by: System
                    modified:
                      at: 1430185015
                      by: System
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - password_expired
                      - invalid_mfa_uri
                      - invalid_mfa_codes
        '401':
          $ref: '#/components/responses/InvalidSessionToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/MFAEnrolled'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mfa_uri:
                  type: string
                  description: 'TOTP MFA URI, in otpauth:// format'
                mfa_codes:
                  type: array
                  description: list of String 2 or more MFA codes generated by the MFA device for verification.
                  items:
                    type: string
                email:
                  type: string
                  description: User email address (username)
                password:
                  type: string
                  description: User password
              required:
                - mfa_uri
                - mfa_codes
            examples:
              'Enroll MFA Body':
                value:
                  email: admin@company.com
                  password: Aa8^6;C28e748C
                  mfa_uri: otpauth://totp/Alert%20Logic:admin@company.com?secret=GFZSA5CINFJSA4ZTNNZDG5BAKM2EMMZ7&issuer=AlertLogic&algorithm=SHA1
                  mfa_codes: ['123456', '456789']
        description: ''
      parameters:
        - $ref: '#/components/parameters/x-aims-session-token'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |-
            curl -X POST "https://api.cloudinsight.alertlogic.com/aims/v1/user/mfa/enroll" \
            -H "Content-Type: application/json"
            -d @- << EOF
            {
                "email": "admin@company.com",
                "password": "Aa8^6;C28e748C",
                "mfa_uri": "otpauth://totp/Alert%20Logic:admin@company.com?secret=GFZSA5CINFJSA4ZTNNZDG5BAKM2EMMZ7&issuer=AlertLogic&algorithm=SHA1"
                "mfa_codes": ["123456", "456789"]
            }
            EOF
  '/aims/v1/user/mfa/{username}':
    parameters:
      - $ref: '#/components/parameters/URLEncodedUsername'
    delete:
      summary: "Remove User's Multi-Factor Authentication Device"
      operationId: remove_mfa_device
      description: |-
        **Remove a user's MFA device**
        
         Removes a user's MFA device. This endpoint can be called by any authenticated user to remove
         **their own** MFA device. Administrators (or other users with sufficient permissions) may remove
         the MFA device of another user.
        
         Once a user's MFA device is removed (user field `mfa_enabled` set to `false`), the user will no
         longer be required to enter an `mfa_code` during authentication. The user may then enroll a new
         MFA device if desired.
      tags:
        - AIMS User MFA Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                Remove MFA Device:
                  value:
                    id: 715A4EC0-9833-4D6E-9C03-A537E3F98D23
                    account_id: '12345678'
                    name: Bob Dobalina
                    username: admin@company.com
                    email: admin@company.com
                    active: true
                    locked: false
                    version: 1
                    linked_users: []
                    created:
                      at: 1430185015
                      by: System
                    modified:
                      at: 1430185015
                      by: System
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Request Sample
          source: |
            curl -X DELETE "https://api.global-services.global.alertlogic.com/aims/v1/user/mfa/admin%40company.com"
  '/aims/v1/{account_id}/users/{user_id}/access_keys':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/UserId'
    post:
      summary: Create Access Key
      operationId: create_access_key
      description: |-
        Create an access key for a user

        A label can be associated with an access key. If a label is specified, a valid JSON body must be provided.
        No more than 5 keys can be created for a user.
      tags:
        - AIMS User Access Key Resources
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKey'
              examples:
                'Create Access Key Response':
                  value:
                    access_key_id: 61fb235617960503
                    user_id: 715A4EC0-9833-4D6E-9C03-A537E3F98D23
                    account_id: '12345678'
                    label: api access
                    created:
                      at: 1525410880
                      by: system
                    modified:
                      at: 1525410880
                      by: system
                    secret_key: c189b933c26ace44208bc6ed31739a1ce31d9b04f25a611dc3b6c9ee2806f9c7
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_label
                      - invalid_json
                      - limit_exceeded
                      - missing_required_property
                      - invalid_property
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: A label for the access key
      x-codeSamples:
        - lang: Shell
          label: Request Sample (unlabeled)
          source: |
            curl -X POST "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/access_keys"
        - lang: Request Sample (labeled)
          source: |
            curl -X POST -d '{"label": "api access"}' "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/access_keys"
    get:
      summary: List Access Keys
      operationId: list_access_keys
      description: |-
        List user access keys.

        If an output format is not specified using the out query parameter, only access key IDs are returned.
      tags:
        - AIMS User Access Key Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_keys:
                    type: array
                    items:
                      oneOf:
                        - type: string
                        - $ref: '#/components/schemas/AccessKey'
              examples:
                'List Access Keys default and ids_only':
                  value:
                    access_keys:
                      - 61fb235617960503
                      - c94bbb077a7ccf26
                'List Access Keys full details':
                  value:
                    access_keys:
                      - access_key_id: 61fb235617960503
                        user_id: 715A4EC0-9833-4D6E-9C03-A537E3F98D23
                        account_id: '12345678'
                        label: api access
                        created:
                          at: 1525410880
                          by: system
                        modified:
                          at: 1525410880
                          by: system
                      - access_key_id: c94bbb077a7ccf26
                        user_id: 715A4EC0-9833-4D6E-9C03-A537E3F98D23
                        account_id: '12345678'
                        created:
                          at: 1525410000
                          by: system
                        modified:
                          at: 1525410000
                          by: system
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      parameters:
        - $ref: '#/components/parameters/AccessKeysOut'
      x-codeSamples:
        - lang: Shell
          label: Request Sample (default and ids_only output)
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/access_keys"
        - lang: Shell
          label: Request Sample (full details output)
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/access_keys?out=full"
  '/aims/v1/{account_id}/users':
    parameters:
      - $ref: '#/components/parameters/AccountId'
    post:
      summary: Create User
      operationId: create_user
      description: |-
        **Create a user**
        
        The user's password must conform to the following standards:
        - Length of at least 12 characters
        - Contain three of four possible character types:
          - Upper case characters
          - Lower case characters
          - Numbers
          - Special characters (``!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~``)
        
        Passwords can be specified as UTF-8. Characters in languages that do not have upper or lower case variants qualify as either upper or lower case.
        
        It is possible to set a one time password by sending a query parameter (one_time_password) with a boolean value, see example below.
        
        The mobile phone number, phone number and webhook url fields are optional. If mobile phone and/or phone included, their strings must contain at least 10 numbers and be no more than 30 characters. If webhook url is included, the url must be a valid http/https url.
        
        The notifications_only flag is optional. If the flag is set to `true`, the user will not receive welcome email, password expiration/change related emails, and the user will not be able to authenticate.
      tags:
        - AIMS User Resources
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                'Response':
                  $ref: '#/components/examples/UserExample'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - account_inactive
                      - invalid_email
                      - invalid_json
                      - invalid_option
                      - invalid_role_id
                      - weak_password
                      - invalid_mobile_phone
                      - invalid_phone
                      - invalid_webhook_url
                      - missing_required_property
                      - invalid_property
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/UserExists'
        '410':
          $ref: '#/components/responses/Gone'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      parameters:
        - $ref: '#/components/parameters/OneTimePassword'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Username
                email:
                  type: string
                  description: Email address
                password:
                  type: string
                  description: 'Password If a password is not passed to the user create call, the user will receive an email with a link to set the password.'
                role_id:
                  type: string
                  description: 'Role Id to grant the newly created user. The user will be granted this role unless it is the first user created in the account, which is always granted the administrator role.'
                active:
                  type: boolean
                  description: 'User status.'
                  default: true
                mobile_phone:
                  type: string
                  description: "An optional string containing a user's mobile phone number."
                phone:
                  type: string
                  description: "An optional string containing a user's phone number."
                webhook_url:
                  type: string
                  description: "An optional string containing a user's webhook url."
                notifications_only:
                  type: boolean
                  description: 'An optional boolean flag to make the user notifications only.'
                  default: false
              required:
                - name
                - email
            examples:
              'Create User Request':
                value:
                  name: Bob Dobalina
                  email: admin@company.com
                  password: Aa8^6;C28e748C
                  mobile_phone: 123-555-0123
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X POST -d '{ "name": "Bob Dobalina", "email": "admin@company.com", "mobile_phone": "123-555-0123" }' "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users"
        - lang: Shell
          label: Request Sample (one-time password)
          source: |
            curl -X POST -d '{ "name": "Bob Dobalina", "email": "admin@company.com", "password": "Aa8^6;C28e748C", "mobile_phone": "123-555-0123" }' "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users?one_time_password=true"
    get:
      summary: List Users
      operationId: list_users
      description: |
        List account users
      tags:
        - AIMS User Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                description: Users Response Object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
              examples:
                'Response':
                  $ref: '#/components/examples/UsersExample'
                'Response (including role ids)':
                  $ref: '#/components/examples/UsersExampleRoleIds'
                'Response (including user credential)':
                  $ref: '#/components/examples/UsersExampleUserCredentials'
                'Response (including access keys)':
                  $ref: '#/components/examples/UsersExampleAccessKeys'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      parameters:
        - $ref: '#/components/parameters/FilterRoleId'
        - $ref: '#/components/parameters/IncludeRoleIds'
        - $ref: '#/components/parameters/IncludeUserCredential'
        - $ref: '#/components/parameters/IncludeAccessKeys'
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users"
        - lang: Shell
          label: Request Sample (including role ids)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users?include_role_ids=true"
        - lang: Shell
          label: Request Sample (including user credential)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users?include_user_credential=true"
        - lang: Shell
          label: Request Sample (including access keys)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users?include_access_keys=true"
  '/aims/v1/{account_id}/users/{user_id}/access_keys/{access_key_id}':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/AccessKeyId'
    get:
      summary: Get Access Key
      operationId: get_access_key
      description: "Get access key by ID"
      tags:
        - AIMS User Access Key Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKey'
              examples:
                'Get Access Key Response':
                  value:
                    access_key_id: 61fb235617960503
                    user_id: 715A4EC0-9833-4D6E-9C03-A537E3F98D23
                    account_id: '12345678'
                    label: api access
                    created:
                      at: 1525410880
                      by: system
                    modified:
                      at: 1525410880
                      by: system
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/access_keys/61FB235617960503"
    delete:
      summary: Delete Access Key
      operationId: delete_access_key
      description: "Delete a user's access key"
      tags:
        - AIMS User Access Key Resources
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X DELETE "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/access_keys/61FB235617960503"
  '/aims/v1/{account_id}/users/{user_id}':
    parameters:
        - $ref: '#/components/parameters/AccountId'
        - $ref: '#/components/parameters/UserId'
    delete:
      summary: Delete User
      operationId: delete_user
      description: |-
        **Delete a user**
        User deletion is permanent. Due to caching and the distributed nature 
        of the data store, user deletion is also asynchronous; as a result,
        clients may be able to retrieve the deleted user for a brief period
        after deleting it.

        Users cannot delete themselves. Users that have been assigned the
        Administrator role can only be deleted if there is at least one other
        user with the Administrator role present.
      tags:
        - AIMS User Resources
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          $ref: '#/components/responses/SelfDelete'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X DELETE "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23"
    get:
      summary: Get User Details
      operationId: get_user_details
      description: |
        Get user details
      tags:
        - AIMS User Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                'Response':
                  $ref: '#/components/examples/UserDetailsExample'
                'Response (including role ids)':
                  $ref: '#/components/examples/UserDetailsExampleRoleIds'
                'Response (not including user credential)':
                  $ref: '#/components/examples/UserDetailsExampleWithoutUserCredential'
                'Response (not including access keys)':
                  $ref: '#/components/examples/UserDetailsExampleWithoutAccessKeys'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      parameters:
        - $ref: '#/components/parameters/IncludeRoleIdsTrue'
        - $ref: '#/components/parameters/IncludeUserCredentialTrue'
        - $ref: '#/components/parameters/IncludeAccessKeysTrue'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23"
        - lang: Shell
          label: Request Sample (including role ids)
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/12345678/user/715A4EC0-9833-4D6E-9C03-A537E3F98D23?include_role_ids=true"
        - lang: Shell
          label: Request Sample (not including user credential)
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/12345678/user/715A4EC0-9833-4D6E-9C03-A537E3F98D23?include_user_credential=false"
        - lang: Shell
          label: Request Sample (not including access keys)
          source: |
            curl -X "https://api.global-services.global.alertlogic.com/aims/v1/12345678/user/715A4EC0-9833-4D6E-9C03-A537E3F98D23?include_access_keys=false"
    post:
      summary: Update User Details
      operationId: update_user_details
      description: |-
        **Update user details**
        
        The user's active status, name, password, email, mobile phone, notifications only, or any combination of the five may be updated.
        Note that, if the client is requesting a change to his/her own user, the password, active and notifications_only fields may not be updated. Fields included in the request body that are not allowed to be updated are ignored.
        In order for the user to change his own password, use [Change Password](#operation/change_password) or [Reset Password](#operation/reset_password) endpoints instead. Request a system admin user to update user's active field.
        
        The user's password must conform to the following standards:
        - Cannot be identical to current or previous passwords (up to 4 previous passwords checked)
        - Length of at least 12 characters
        - Contain three of four possible character types:
          - Upper case characters
          - Lower case characters
          - Numbers
          - Special characters (``!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~``)
        
        Passwords can be specified as UTF-8. Characters in languages that do not have upper or lower case variants qualify as either upper or lower case.
        
        It is possible to set a one time password by sending a query parameter (`"one_time_password"`) with a boolean value, see example below.
        
        The mobile phone number, phone number and webhook url fields are optional. If mobile phone and/or phone included, their strings must contain at least 10 numbers and be no more than 30 characters. If webhook url is included, the url must be a valid http/https url.
        In order to clear the optional fields, mobile phone, phone and webhook url, you must set it to an empty string as seen in "clear optional field" usage example.
        
        The notifications only flag field is optional. If the flag is set to `true`, the user will not receive password expiration/change related emails and the user will not be able to authenticate.
      tags:
        - AIMS User Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                'Response':
                  $ref: '#/components/examples/UpdateUserExample'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_email
                      - invalid_json
                      - weak_password
                      - password_reuse_prevented
                      - invalid_mobile_phone
                      - invalid_phone
                      - invalid_webhook_url
                      - invalid_property
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/UserExists'
        '410':
          $ref: '#/components/responses/Gone'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      parameters:
        - $ref: '#/components/parameters/OneTimePassword'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New user name
                password:
                  type: string
                  description: New password
                email:
                  type: string
                  description: New email address
                active:
                  type: boolean
                  description: User status
                mobile_phone:
                  type: string
                  description: "An optional string containing a user's mobile phone number."
                phone:
                  type: string
                  description: "An optional string containing a user's phone number."
                webhook_url:
                  type: string
                  description: "An optional string containing a user's webhook url."
                notifications_only:
                  type: boolean
                  description: An optional boolean flag to make the user notifications only.
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X POST -d '{"name": "Bob Odenkirk", "email": "bodenkirk@company.com", "mobile_phone": "123-555-0124"}' "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23"
        - lang: Shell
          label: Request Sample (set one-time password)
          source: |
            curl -X POST -d '{"password": "29a7B#1FeF*q73_f8"}' "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23?one_time_password=true"
        - lang: Shell
          label: Request Sample (deactivate user)
          source: |
            curl -X POST -d '{"active": false}' "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23"
        - lang: Shell
          label: Request Sample (clear optional field)
          source: |
            curl -X POST -d '{"phone": ""}' "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23"
  '/aims/v1/user/{user_id}':
    parameters:
      - $ref: '#/components/parameters/UserId'
    get:
      summary: Get User Details by User ID
      operationId: get_user_details_by_id
      description: Get user details by user ID
      tags:
        - AIMS User Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                'Response':
                  $ref: '#/components/examples/UserDetailsExample'
                'Response (including role ids)':
                  $ref: '#/components/examples/UserDetailsExampleRoleIds'
                'Response (not including user credential)':
                  $ref: '#/components/examples/UserDetailsExampleWithoutUserCredential'
                'Response (not including access keys)':
                  $ref: '#/components/examples/UserDetailsExampleWithoutAccessKeys'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      parameters:
        - $ref: '#/components/parameters/IncludeRoleIdsTrue'
        - $ref: '#/components/parameters/IncludeUserCredentialTrue'
        - $ref: '#/components/parameters/IncludeAccessKeysTrue'
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/715A4EC0-9833-4D6E-9C03-A537E3F98D23"
        - lang: Shell
          label: Request Sample (including role ids)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/715A4EC0-9833-4D6E-9C03-A537E3F98D23?include_role_ids=true"
        - lang: Shell
          label: Request Sample (not including user credential)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/715A4EC0-9833-4D6E-9C03-A537E3F98D23?include_user_credential=false"
        - lang: Shell
          label: Request Sample (not including access keys)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/715A4EC0-9833-4D6E-9C03-A537E3F98D23?include_access_keys=false"
  '/aims/v1/user/email/{email}':
    parameters:
      - $ref: '#/components/parameters/URLEncodedEmail'
    get:
      summary: Get User Details by Email (DEPRECATED)
      operationId: get_user_details_by_email
      description: |-
        **Get user details by email**

        This endpoint has been deprecated and only mantained for backwards compatibility. This operates the same way of
        [get user details by username](#operation/get_user_details_by_username).
        In order to retrieve users by email, see [list users by email](#operation/list_users_by_email).
      tags:
        - AIMS User Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                'Response':
                  $ref: '#/components/examples/UserDetailsExample'
                'Response (including role ids)':
                  $ref: '#/components/examples/UserDetailsExampleRoleIds'
                'Response (not including user credential)':
                  $ref: '#/components/examples/UserDetailsExampleWithoutUserCredential'
                'Response (not including access keys)':
                  $ref: '#/components/examples/UserDetailsExampleWithoutAccessKeys'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      parameters:
        - $ref: '#/components/parameters/IncludeRoleIdsTrue'
        - $ref: '#/components/parameters/IncludeUserCredentialTrue'
        - $ref: '#/components/parameters/IncludeAccessKeysTrue'
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/email/admin%40company.com"
        - lang: Shell
          label: Request Sample (including role ids)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/email/admin%40company.com?include_role_ids=true"
        - lang: Shell
          label: Request Sample (not including user credential)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/email/admin%40company.com?include_user_credential=false"
        - lang: Shell
          label: Request Sample (not including access keys)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/email/admin%40company.com?include_access_keys=false"
  '/aims/v1/user/username/{username}':
    parameters:
      - $ref: '#/components/parameters/URLEncodedUsername'
    get:
      summary: Get User Details by Username
      operationId: get_user_details_by_username
      description: Get user details by username
      tags:
        - AIMS User Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                'Response':
                  $ref: '#/components/examples/UserDetailsExample'
                'Response (including role ids)':
                  $ref: '#/components/examples/UserDetailsExampleRoleIds'
                'Response (not including user credential)':
                  $ref: '#/components/examples/UserDetailsExampleWithoutUserCredential'
                'Response (not including access keys)':
                  $ref: '#/components/examples/UserDetailsExampleWithoutAccessKeys'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      parameters:
        - $ref: '#/components/parameters/IncludeRoleIdsTrue'
        - $ref: '#/components/parameters/IncludeUserCredentialTrue'
        - $ref: '#/components/parameters/IncludeAccessKeysTrue'
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/username/admin%40company.com"
        - lang: Shell
          label: Request Sample (including role ids)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/username/admin%40company.com?include_role_ids=true"
        - lang: Shell
          label: Request Sample (not including user credential)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/username/admin%40company.com?include_user_credential=false"
        - lang: Shell
          label: Request Sample (not including access keys)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/user/username/admin%40company.com?include_access_keys=false"
  '/aims/v1/{account_id}/users/{user_id}/roles':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/UserId'
    get:
      summary: Get Assigned Roles
      operationId: get_assigned_roles
      description: |-
        **Get user roles**
      tags:
        - AIMS User Roles Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
              examples:
                'Response':
                  $ref: '#/components/examples/UserRolesExample'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/roles"
  '/aims/v1/{account_id}/users/{user_id}/role_ids':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/UserId'
    get:
      summary: Get Assigned Role Ids
      operationId: get_assigned_role_ids
      description: |-
        **Get user role ids**
      tags:
        - AIMS User Roles Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  role_ids:
                    type: string
              examples:
                'Response':
                  value:
                    role_ids:
                      - 4389AB00-BBCC-4EB1-83E9-7A906A452BF0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/role_ids"
  '/aims/v1/{account_id}/users/{user_id}/permissions':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/UserId'
    get:
      summary: Get User Permissions
      operationId: get_user_permissions
      description: |-
        **Get user permissions**

        User's permissions are derived from the intersection of the permissions that they have
        based on the roles granted to the user.
        
        For instance, If a user has a role that allows them permission `{"\*:own:get:account": "allowed"}`, and another role that denies them that
        same permission `{"\*:own:get:account": "denied"}`, the permissions list will only show the deny entry.
      tags:
        - AIMS User Roles Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  permissions:
                    type: array
                    items:
                      type: object
              examples:
                'Get User Permissions Response':
                  value:
                    permissions:
                      - '*:managed:*:*': allowed
                      - '*:own:*:*': allowed
                      - '*::get:*': allowed
                      - '*::list:*': allowed
                      - 'aims:own:create:role': denied
                      - 'aims:own:update:role': denied
                      - 'aims:own:delete:role': denied
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/permissions"
  '/aims/v1/{account_id}/users/{user_id}/roles/{role_id}':
    parameters:
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/UserId'
      - $ref: '#/components/parameters/RoleId'
    put:
      summary: Grant User Role
      operationId: grant_user_role
      description: |
        **Grant a role to a user**

        Users cannot grant roles to themselves. When granting the Administrator role to a user, all roles previously granted to that user will be revoked.
      tags:
        - AIMS User Roles Resources
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - self_grant_error
                      - invalid_role_id
                      - admin_account_immutable
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X PUT "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/roles/2A33175D-86EF-44B5-AA39-C9549F6306DF"
    delete:
      summary: Revoke User Role
      operationId: revoke_user_role
      description: |-
        Revoke a role for a user

        Users cannot revoke roles assigned to themselves. When revoking the Administrator role from a user, there must be at least one other user with the Administrator role present.
      tags:
        - AIMS User Roles Resources
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - self_revoke_error
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          $ref: '#/components/responses/Gone'
        '503':
          $ref: '#/components/responses/WritesDisabled'
      security:
        - x-aims-auth-token: []
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X DELETE "https://api.global-services.global.alertlogic.com/aims/v1/12345678/users/715A4EC0-9833-4D6E-9C03-A537E3F98D23/roles/2A33175D-86EF-44B5-AA39-C9549F6306DF"
  '/aims/v1/users/email/{email}':
    parameters:
      - $ref: '#/components/parameters/URLEncodedEmail'
    get:
      summary: List Users By Email
      operationId: list_users_by_email
      description: List Users By Email
      tags:
        - AIMS User Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
              examples:
                'Response':
                  $ref: '#/components/examples/UsersExample'
                'Response (including role ids)':
                  $ref: '#/components/examples/UsersExampleRoleIds'
                'Response (including user credential)':
                  $ref: '#/components/examples/UsersExampleUserCredentials'
                'Response (including access keys)':
                  $ref: '#/components/examples/UsersExampleAccessKeys'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - x-aims-auth-token: []
      parameters:
        - $ref: '#/components/parameters/IncludeRoleIds'
        - $ref: '#/components/parameters/IncludeUserCredential'
        - $ref: '#/components/parameters/IncludeAccessKeys'
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/users/email/admin%40company.com"
        - lang: Shell
          label: Request Sample (including role ids)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/users/email/admin%40company.com?include_role_ids=true"
        - lang: Shell
          label: Request Sample (including user credential)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/users/email/admin%40company.com?include_user_credential=true"
        - lang: Shell
          label: Request Sample (including access keys)
          source: |
            curl -X GET "https://api.global-services.global.alertlogic.com/aims/v1/users/email/admin%40company.com?include_access_keys=true"
  '/aims/v1/access_keys/{access_key_id}':
    parameters:
      - $ref: '#/components/parameters/AccessKeyId'
    post:
      summary: Update Access Key
      operationId: update_access_key
      description: Update access key by ID
      tags:
        - AIMS User Access Key Resources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessKey'
              examples:
                'Update Access Key Response':
                  value:
                    access_key_id: 61fb235617960503
                    user_id: 715A4EC0-9833-4D6E-9C03-A537E3F98D23
                    account_id: '12345678'
                    label: updated label
                    created:
                      at: 1524510292
                      by: system
                    modified:
                      at: 1525410880
                      by: system
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_label
                      - invalid_property
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      security:
        - x-aims-auth-token: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: access key label to be updated
        description: JSON with a label to be updated
      x-codeSamples:
        - lang: Shell
          label: Request Sample
          source: |
            curl -X POST -d '{"label": "updated label"}' "https://api.global-services.global.alertlogic.com/aims/v1/access_keys/61fb235617960503"
  '/aims/v1/authenticate':
    post:
      summary: Authenticate
      operationId: authenticate
      description: |-
        Authenticate a user's identity

        The authenticate endpoint is used to verify a user's credentials (access key or username/password).
        Users may authenticate by base64 encoding the string `username:password` (or
        `access_key_id:secret_key`) and prepending it with the string `Basic ` per
        [RFC 2617](https://tools.ietf.org/html/rfc2617). Note that common tools like `curl` and most HTTP
        libraries support encoding this automatically.
        
        Successful authentication returns `200 OK` with a JSON body containing the key 
        `authentication.token`. This token may be passed (as the `X-Aims-Auth-Token` header) to subsequent
        API requests which require a user to be authenticated. The user's profile data is also included in
        the `authentication` key of the response body (see the examples below).
        
[...]
