openapi: 3.0.2
info:
  title: IRIS service
  version: '3.0'
  description: "IRIS service"
servers:
  - url: 'https://api.cloudinsight.alertlogic.com'
    description: production
    x-alertlogic-session-endpoint: true
  - url: 'https://api.product.dev.alertlogic.com'
    description: integration
    x-alertlogic-session-endpoint: true
paths:
  '/iris/v3/{account_id}/observation':
    post:
      summary: Create an incident in IRIS from an observation
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-alertlogic-schema:
                name: observation
        description: The observation to create an incident from
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/1234/observation
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentCreated'
              examples:
                Create incident from observation example:
                  value:
        '400':
          description: Duplicate observation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type:
              examples:
                Duplicate example:
                  value:
                    error: "Duplicate observation"
  '/iris/v3/{account_id}/{incident_id}':
    get:
      summary: Get a specific incident by its ID
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
        - schema:
         type: string
         name: incident_id
         in: path
         required: true
         description: Incident ID
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X GET https://api.cloudinsight.alertlogic.com/iris/v3/1234/1ab29e36-394e-11e9-a004-720004270420
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIncident'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{friendly_id}/friendly':
    get:
      summary: Get an incident by its friendly ID
      tags: []
      parameters:
        - schema:
            type: string
          name: friendly_id
          in: path
          required: true
          description: Incident friendly ID
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X GET https://api.cloudinsight.alertlogic.com/iris/v3/aecbf/friendly
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDAndAccount'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{alpha_id}/alpha':
    get:
      summary: Get an incident by its alpha ID
      tags: []
      parameters:
        - schema:
            type: string
          name: alpha_id
          in: path
          required: true
          description: Incident alpha ID
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X GET https://api.cloudinsight.alertlogic.com/iris/v3/54627936/alpha
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IDAndAccount'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/incident_filters':
    get:
      summary: Get the fields and values used to filter incidents
      tags: []
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X GET https://api.cloudinsight.alertlogic.com/iris/v3/incident_filters
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentFilters'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/recent_escalations/{start_time}/{end_time}':
    get:
      summary: Get the most recent escalated incidents for a specific customer
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
        - schema:
            type: string
          name: start_time
        - schema:
            type: string
          name: end_time

      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X GET https://api.cloudinsight.alertlogic.com/iris/v3/1234/recent_escalations/2019-11-25T14:35/2019-11-25T14:3
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecentEscalations'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/partner_api/{start_time}/{end_time}':
    get:
      summary: Get the incidents for a time range you have access to
      tags: []
      parameters:
        - schema:
            type: string
            name: start_time
        - schema:
            type: string
            name: end_time
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X GET https://api.cloudinsight.alertlogic.com/iris/v3/partner_api/2019-02-01T12:00/2019-02-01T16:00
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAPI'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/{incident_id}/history':
    get:
      summary: Get the history for a specific incident
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
        - schema:
            type: string
            name: incident_id
            in: path
            required: true
            description: Incident ID
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X https://api.cloudinsight.alertlogic.com/iris/v3/1234/1ab29e36-394e-11e9-a004-720004270420/history
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentHistory'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/{incident_id}/snooze':
    post:
      summary: Snooze an incident for a period of time
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
        - schema:
            type: string
            name: incident_id
            in: path
            required: true
            description: Incident ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
                properties:
                  period_ms:
                    type: number
                  reason_code:
                    type: string
                  notes:
                    type: string
        description: The SQL statement to execute
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/1234/1ab29e36-394e-11e9-a004-720004270420/snooze -d '{"period_ms": 1, "reason_code": "tomorrow", "notes": "Snoozed until Bob fixes this"}'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentSnooze'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/{incident_id}/complete':
    post:
      summary: Close/complete an incident
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
        - schema:
            type: string
            name: incident_id
            in: path
            required: true
            description: Incident ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
                properties:
                  reason_code:
                    type: string
                  notes:
                    type: string
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/1234/1ab29e36-394e-11e9-a004-720004270420/complete -d '{"reason_code": "further_action", "notes": "We are done with this"}'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentCompleted'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/{incident_id}/feedback':
    post:
      summary: Update incident feedback
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
        - schema:
            type: string
            name: incident_id
            in: path
            required: true
            description: Incident ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                operation:
                  type: string
                reason_code:
                  type: string
                notes:
                  type: string
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/19651/1ab29e36-394e-11e9-a004-720004270420/feedback -d \
                              '{"operation": "open", "reason_code": "further_action", "notes": "whatever customer thinks is useful!"}'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentFeedback'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/{incident_id}/assets':
    get:
      summary: Get the asset elaborations for a specific incident
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
        - schema:
            type: string
            name: incident_id
            in: path
            required: true
            description: Incident ID
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X GET https://api.cloudinsight.alertlogic.com/iris/v3/19651/1ab29e36-394e-11e9-a004-720004270420/assets
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentAssets'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/batch/snooze':
    post:
      summary: Snooze a list of incidents for a period of time
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
                properties:
                  period_ms:
                    type: number
                  reason_code:
                    type: string
                  notes:
                    type: string
                  incidents:
                    type: array
                    items:
                      type: string
                      description: incident ids
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/19651/batch/snooze -d '{"period_ms": 1, "reason_code": "tomorrow", "notes": "Snoozed until Bob fixes this", "incidents": ["e811af1c88c16a4f"]}'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/batch/complete':
    post:
      summary: Close/complete a list of incidents
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
                properties:
                  operation:
                    type: string
                  reason_code:
                    type: string
                  notes:
                    type: string
                  incidents:
                    type: array
                    items:
                      type: string
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/19651/batch/complete -d \
                             '{ "operation": "open", "reason_code": "further_action", "notes": "whatever customer thinks is useful!", "incidents": ["e811af1c88c16a4f"] }'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentBatchComplete'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/batch/feedback':
    post:
      summary: Update incident feedback on a list of incidents
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
      requestBody:
        content:
          application/json:
            schema:
              type: object
                properties:
                  operation:
                    type: string
                  reason_code:
                    type: string
                  notes:
                    type: string
                  incidents:
                    type: array
                    items:
                      type: string
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/19651/batch/feedback -d \
                             '{ "operation": "open", "reason_code": "further_action", "notes": "whatever customer thinks is useful!",
                              "incidents": ["e811af1c88c16a4f"] }'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentBatchFeedback'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/batch/undo':
    post:
      summary: Undo cached actions on list of incidents
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/:account_id/batch/undo -d
                                 '{"performed_by":"John Diaz <jdiaz@alertlogic.com>", "total_updated":1, "update_time":1537804956.345696,
                                  "updates":{ "e81109b776a84ec9":{ "account_id":134232303, "change":{ "new":{ "expiration":1537909356.345745,
                                  "expiration_str":"2018-09-25T21:02:36.345745+00:00", "notes":"Does this work again, testing undo 3!",
                                  "period_ms":86400000, "reactivates_at":"2018-09-25 16:02:36.345745", "reason_code":"next_week",
                                  "snooze_by":"John Diaz <jdiaz@alertlogic.com>", "snoozed":true }, "old":{ "expiration":1537909172.469218,
                                  "expiration_str":"2018-09-25T20:59:32.469218+00:00", "notes":"Does this work again, testing undo 3!",
                                  "period_ms":86400000, "reactivates_at":"2018-09-25 15:59:32.469218", "reason_code":"next_week",
                                  "snooze_by":"John Diaz <jdiaz@alertlogic.com>", "snoozed":true } }, "message":"Updated: snooze_status",
                                  "property":"snooze_status"}}}'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentBatchUndo'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/correlation_count/{correlation_id}':
    get:
      summary: Get a count of open log correlation incidents by ID for a customer
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
        - schema:
            type: string
            name: correlation_id
            in: path
            required: true
            description: Unique ID for a correlation rule
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X GET https://api.cloudinsight.alertlogic.com/iris/v3/134264762/correlation_count/2CC2EB65-4EAC-4503-AE4F-7FE90DF85037
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CorrelationCount'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/incidents/dsl-translate':
    post:
      summary: Translate a list of query string filters into al_query
      tags: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
                properties:
                  query_string:
                    type: string
                  query:
                    type: array
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/incidents/dsl-translate -d \
                     '{"query_string": ["LIKE(Unauthorized),incident.threatRating>High"]}'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DSLTranslate'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/{account_id}/incident/aggregations':
    post:
      summary: Get aggregrations for a list of fields
      tags: []
      parameters:
        - schema:
            type: string
          name: account_id
          in: path
          required: true
          description: Customer account ID
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X POST https://api.cloudinsight.alertlogic.com/iris/v3/1234/incident/aggregations
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

  '/iris/v3/metadata-constants':
    get:
      summary: Get all IRIS metadata constants
      tags: []
      security:
        - X-AIMS-Auth-Token: []
      x-code-samples:
        - lang: Request Sample
          source: |
            curl -X GET https://api.cloudinsight.alertlogic.com/iris/v3/metadata-constants
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetadataConstants'
        '400':
          description: Invalid arguments
        '401':
          description: Unauthorised
        '403':
          description: Forbidden
        '404':
          description: Not found

components:
  schemas:
    IncidentCreated:
      title: IncidentCreate
      type: object
      properties:
        id:
          type: string
        incident_id:
          type: string
    GetIncident:
      title: GetIncident
      type: object
      properties:
        id:
          type: string
          description: The unique ID for an observation
        cid:
          type: string
        version:
          type: string
        visibility:
          type:
            string
        severity:
          type:
            string
        parents:
          type:
            array:
              items:
        customer:
          type:
            string
        incident:
          type:
            object
        statistics:
          type:
            object
    IDAndAccount:
      title: IncidentIDAndAccountID
      type: object
      properties:
        id:
          type: string
          description: The unique ID for an observation
        accountId:
          type: string
          description: Customer account ID
    IncidentFilters:
      title: IncidentFilters
      type: object
      properties:
        threat_level:
          type: array
        class:
          type: array
        detection_source:
          type: array
    RecentEscalations:
      title: RecentEscalations
      type: object
      properties:
        escalation_time:
          type: string
          description: Time incident was escalated
        summary:
          type: string
          description: Summary of incident
        severity:
          type: string
          description: Severity rating of incident
        escalator:
          type: string
          description: User who escalated
        iris_incident_version:
          type: string
          description: Version
    PartnerAPI:
      title: PartnerAPI
      type: array
      items:
        type: object
    IncidentHistory:
      title: IncidentHistory
      type: array
      items:
        type: object
        properties:
          details:
            type: object
          historyType:
            type: number
          message:
            type: string
          time:
            number
          time_str:
            type: string
          who:
            type: string
    IncidentSnooze:
      title: IncidentSnooze
      type: object
      properties:
        notes:
          type: string
        period:
          type: number
        reactivates_at:
          type: string
        reason_code:
          type: string
        snoozed:
          type: boolean
        user:
          type: string
    IncidentCompleted:
      title: IncidentCompleted
      type: array
      items: object
    IncidentFeedback:
      title: IncidentFeedback
      type: object
      properties:
        undo_token:
          type: string
        updates:
          type: object
          properties:
            incident_id:
              type: object
              properties:
                account_id:
                  type: string
                change:
                  type: object
    IncidentAssets:
      title: IncidentAssets
      type: object
      properties:
        returnVals:
          type: array
    IncidentBatchComplete:
      title: IncidentBatchComplete
      type: object
      properties:
        undo_token:
          type: string
        updates:
          type: object
          properties:
            incident_id:
              type: object
              properties:
                account_id:
                  type: string
                change:
                  type: object
    IncidentBatchFeedback:
      title: IncidentBatchFeedback
      type: object
      properties:
        undo_token:
          type: string
        updates:
          type: object
          properties:
            incident_id:
              type: object
              properties:
                account_id:
                  type: string
                change:
                  type: object
    IncidentBatchUndo:
      title: IncidentBatchUndo
      type: array
      items:
        type: object
          properties:
            incident_id:
              type: string
    CorrelationCount:
      title: CorrelationCount
      type: integer
      description: Count of the number of open incidents with the correlation id
    DSLTranslate:
      title: DSLTranslate
      type: object

    MetadataConstants:
      title: MetadataConstants
      type: object
      properties:
        incident-class-names:
          type: object
        incident-history-types:
          type: object
        log-types:
          type: object
        sourceMap:
          type: object

  securitySchemes:
    X-AIMS-Auth-Token:
      name: X-AIMS-Auth-Token
      type: apiKey
      in: header
      description: AIMS Authentication Token
